#navLogo {
    color: white;
}

#mainNav {
    background-color: black !important;
    margin-bottom: 20px;
}

#navFlex {
    display: flex;
    justify-content: center;
}

#mainSection {
    border: 1px solid black;
    height: 30vh;
}
